<section id="social-sidebar">
  <h1>#social</h1>
  <ul>
    <li class="twitter"><a href="https://twitter.com/klambycom" title="@klambycom">Twitter</a></li>
    <li class="googleplus"><a href="https://plus.google.com/107420462743728319818">Google+</a></li>
    <li class="facebook"><a href="http://www.facebook.com/christiannilsson4">Facebook</a></li>
    <li class="lastfm"><a href="http://lastfm.se/user/catahajag">Last.fm</a></li>
    <li class="github"><a href="http://github.com/klambycom">Github</a></li>
  </ul>
</section>
