.click {
  -webkit-transition: all 0.5s ease;
  -webkit-transform: translateX(-400px);
}

.sidebar-about-me-right {
  right: 0px;
  width: 400px;
  height: 100%;
  position: fixed;
  display: block; // ?
  padding: 20px;
  overflow: auto;
  background: #333;
  -webkit-transition: all 0.5s ease;
  -webkit-transform: translate(100%);
}

#container {
  -webkit-transition: all 0.5s ease;
}


