body {
  @include transition(all 0.5s ease .7s);
}

.click {
  @include transition(all 0.5s ease .7s);
  @include transform(translateX(-400px));
}

#about-me {
  font-size: .8em;
  color: rgb(211, 211, 211);

  right: 0px;
  width: 360px;
  height: 100%;
  position: fixed;
  display: block; // ?
  padding: 20px;
  overflow: auto;
  background: #333;

  @include transition(all 0.5s ease .7s);
  @include transform(translate(100%));
}
