#sidebar {
  ul, li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  a:visited { color: $link-color; }
}

// About me
#about-me-sidebar {
  margin-top: 10px;
  @include perspective(600px);

  img {
    width: 100%;
  }

  header {
    position: relative;

    h1 {
      position: absolute;
      bottom: 0px;
      left: 10px;
      color: white;
    }
  }

  a {
    display: block;
    @include transition(all 1s ease);
  }

  .flip {
    @include transform(rotateY(180deg));
    @include transition(all 1s ease);
  }
}

// Latest posts
#recent-post-sidebar {
  a:visited { color: $visited-link-color; }
  footer { display: none; }

  @media only screen and (min-width: 1348px) {
    line-height: 1.2em;
    footer { display: block; }

    footer {
      a:visited { color: $link-color; }
      font-size: .7em;
      margin-bottom: 10px;
    }
  }
}

// Categories cloud
#categories-sidebar {
  margin-bottom: 20px;

  a {
    text-decoration: none;
    @include transition(all 5s ease);

    &:hover { 
      color: red;
      @include transition(all 1s ease);
    }
  }
}

// Social links
// http://www.spritebox.net/
#social-sidebar {
  a {
    text-decoration: none;
    display: block;
    &:hover { text-decoration: underline; }
  }

  li a {
    background: url('/images/social_sprite.png') no-repeat;
    width: 16px;
    height: 19px;

    margin-bottom: 10px;
    padding-left: 18px;
  }

  .twitter a {
    background-position-y: 0px;
    color: rgba(57,169,236,1);
  }

  .googleplus a {
    background-position-y: -38px;
    color: rgba(185,51,30,1);
  }

  .facebook a {
    background-position-y: -57px;
    color: rgba(65,83,153,1);
  }

  .lastfm a {
    background-position-y: -19px;
    color: rgba(230,64,47,1);
  }

  .github a {
    background-position-y: -76px;
    color: rgba(50,50,50,1);
  }
}
