// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.left {
  float: left;
}

.right {
  float: right;
}

::selection {
  background: $selection-bg-color;
  color: $selection-color;
}

::-moz-selection {
  background: $selection-bg-color none;
  color: $selection-color;
}

a {
  color: $link-color;
  &:hover { color: $hover-link-color; }
  &:visited { color: $visited-link-color; }
}

/* Container */
#container { @extend .container_16; }

/* Content */
#content { @extend .grid_11; }

/* Sidebar */
#sidebar {
  @extend .offset_1;
  @extend .grid_4;
}

/* Header */
#header {
  @extend .grid_16;

  font-size: 2.5em;
  text-shadow: .5em 0 0 rgba(0%, 100%, 100%, 0.6),
               -.5em 0 0 rgba(100%, 0%, 0%, 0.6);
  //text-shadow: .1em 0 0 rgba(0%, 100%, 100%, 0.6),
  //             -.1em 0 0 rgba(100%, 0%, 0%, 0.6);

  a {
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }
}

/* Article header */
article header {
  position: relative;
  padding-top: 2em;

  p.meta {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    font-family: $sans-serif;
    color: #aaa;
  }

  a, a:visited {
    color: $text-color;
    text-decoration: none;

    -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
    -ms-transition:     all 1s ease;
    -o-transition:      all 1s ease;
    transition:         all 1s ease;

    &:hover {
      color: $link-color;
      text-decoration: underline;

      -webkit-transition: all 1s ease;
      -moz-transition:    all 1s ease;
      -ms-transition:     all 1s ease;
      -o-transition:      all 1s ease;
      transition:         all 1s ease;
    }
  }
}

/* Article footer */
article > footer {
  padding-bottom: 2.5em;
  margin-top: 2em;
  font-size: .8em;
  font-family: $sans-serif;
}

/* Pagination */
.pagination {
  text-align: center;
  padding: 1.5em 0;

  &:before, &:after {
    content: '\2014';
    padding: 0 .3em;
  }
}

/* Code */
p code, li code {
  display: inline-block;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* Sidebar */
#sidebar {
  font-size: .85em;
  line-height: 1.5em;

  h1 {
    font-size: 2.2em;
  }
}

/* Blog archive */
#blog-archives {
  color: #aaa;

  article {
    padding-left: 4.5em;
    padding-bottom: .7em;
    margin-left: 5em;
    position: relative;

    footer {
      padding: 0;
      margin: 0;
    }
  }

  h1 {
    font-size: 1.5em;
    color: #222;
    margin-bottom: .3em;
  }

  h2 {
    /*margin-bottom: .3em;*/
    font-weight: normal;
    /*display: inline-block;*/
    /*position: relative;*/
    float: left;
  }

  time {
    position: absolute;
    text-align: right;
    left: 0em;
    top: .7em;
    font-size: .9em;
    line-height: 1.2em;
    font-family: $sans-serif;

    .year { display: none; }
  }
}
